.infoSection {
    background: url('./images/grassBackground.png') no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
}

.infoSectionInner {
    max-width: 542px;
    color: #ffffff;
    padding-top: 156px;
    padding-bottom: 128px;
}

.infoSectionTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}

@media screen and (max-width: 700px) {
    .infoSectionTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .infoSectionSubtitle {
        font-size: 12px;
        line-height: 20px;
    }
}

.infoSectionSubtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 32px;
    margin-bottom: 38px;
}

.ourWorksLink {
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    color: #1B1C2B;
    padding: 16px 21px;
    background: #F3D033;
    border-radius: 41px;
}

.creditSection {
    padding: 63px 0 65px;
    background: #FCFBF4;
}

.creditSectionTitleWrap {
    display: flex;
    justify-content: center;
}

.creditSectionTitle {
    max-width: 881px;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

@media screen and (max-width: 820px) {
    .creditSectionTitle {
        font-size: 22px;
        line-height: 32px;
    }
}

.credits {
    display: flex;
    justify-content: space-between;
    gap: 53px;
    margin-top: 80px;
    margin-inline: 45px;
    align-items: flex-start;
}

@media screen and (max-width: 670px) {
    .credits {
        flex-direction: column;
        align-items: center;
    }
}

.credit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.creditCircle {
    background: #F3D033;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.creditText {
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.ourProductsSection {
    padding-top: 63px;
    padding-bottom: 86px;
}

.productsSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPageLink {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.mainPageLinkText {
    white-space: nowrap;
}

.productsSectionHeaderArrow {
    margin-left: 13px;
}


@media screen and (max-width: 600px) {
    .mainPageTitle {
        font-size: 28px;
        line-height: 34px;
    }

    .mainPageLink {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productsSectionHeaderArrow {
        margin-left: 0;
        display: block;
        width: 28px;
        height: 25px;
    }
}

@media screen and (max-width: 400px) {
    .mainPageTitle {
        font-size: 22px;
        line-height: 27px;
    }

    .mainPageLink {
        font-size: 13px;
    }
}

.products {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.productsMain {
    position: relative;
    height: 100%;
}

.productsMainImg {
    width: 100%;
}

.productOverlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(329.39deg, #F3D033 -10.96%, rgba(243, 208, 51, 0.4) 103.96%);
}

.productsMainOverlay {
    width: 47%;
    background: linear-gradient(329.39deg, #F3D033 -10.96%, rgba(243, 208, 51, 0) 103.96%);
}

.productsMinor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 770px) {
    .products {
        flex-direction: column;
    }

    .productsMinor {
        flex-direction: row;
        gap: 20px
    }
}

.minorProduct {
    position: relative;
}

.productsMainOverlayInner .projectLink {
    margin-bottom: 76px;
}


.minorProductImg {
    width: 100%;
}

.productOverlayInner {
    display: flex;
    margin-left: 45px;
    justify-content: end;
    flex-direction: column;
    height: 100%;
}

.projectName {
    max-width: 293px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
}

.productsMainOverlayInner .projectName {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.projectDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 80%;
    margin-top: 10px;
}

@media screen and (max-width: 1050px) {
    .minorProduct .projectName {
        font-size: 15px;
        line-height: 20px;
    }

    .minorProduct .productOverlayInner {
        margin-left: 25px;
        margin-right: 10px;
    }

    .projectLink {
        font-size: 13px;
    }
}

@media screen and (max-width: 550px) {
    .productsMinor {
        flex-direction: column;
    }

    .minorProduct {
        width: 100%;
    }

    .productsMainOverlay {
        width: 100%;
    }

    .productsMainOverlayInner .projectName {
        font-size: 15px;
        line-height: 20px;
    }

    .projectDescription {
        font-size: 13px;
        line-height: 22px;
    }

    .projectLink {
        margin-bottom: 10%;
    }

    .productsMainOverlay .projectLink {
        margin-bottom: 10%;
    }
}

.projectLink {
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}

.projectLink img {
    margin-left: 34px;
}

.featuresSection {
    padding: 90px 0 94px;
    background: #FCFBF4;
}

.featuresSectionInner {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction: column;
}

.featuresSectionInner .titlesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featuresSectionTitle {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.003em;
    margin-bottom: 40px;
    text-align: center;
    transition: all .7s ease;

}

.featuresSectionSubtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    height: 80px;
    letter-spacing: 0.01em;
    max-width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all .7s ease;
}

@media screen and (max-width: 840px) {
    .featuresSectionTitle {
        margin-bottom: 20px;
        font-size: 32px;
    }
    .featuresSectionSubtitle {
        height: 150px;
        max-width: 90%;
        font-size: 17px;
    }
}

@media screen and (max-width: 400px) {
    .featuresSectionSubtitle {
        height: 250px;
        max-width: 90%;
        font-size: 17px;
    }
}

.featuresBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.features {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}


.feature {
    border-right: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    width: 213px;
    height: 173px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all .7s ease;
}

@media screen and (max-width: 1108px) {
    .feature {
        border-right: none;
    }
}


.feature:last-child {
    border-right: none;
}

.featureCircle {
    margin-top: 30px;
    margin-bottom: 15px;
    background: #F3D033;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureCircle img {
    width: 40px;
    height: 40px;
    height: 40px;
}

.featureText {
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
}

.featureTextLowLineHeight {
    line-height: 23px;
}

.activeFeature {
    color: white;
    background: #F3D033;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.industrySection {
    padding: 27px 0 86px;
}

.industrySectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solutions {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.solution {
    width: 30%;
}

.solution img {
    width: 100%;
    outline: 10px solid #F3D033;
    outline-offset: -10px;
}

.solutionBreadcrumbs {
    margin-top: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}

.solutionName {
    margin-top: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}

@media screen and (max-width: 1075px) {
    .solutionBreadcrumbs {
        font-size: 15px;
    }

    .solutionName {
        font-size: 22px;
        line-height: 26px;
    }
}

@media screen and (max-width: 750px) {
    .solutions {
        flex-direction: column;
        align-items: center;
    }

    .solution {
        width: 70%;
        margin-bottom: 50px;
    }
}

.partnersSection {
    padding: 83px 0 73px;
    background: #FCFBF4;
}

.partnerSectionInner {
    text-align: center;
}

.partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 48px;
    gap: 20px;
}

.partner {
    background: #FFFFFF;
    width: 296px;
    height: 292px;
    padding-top: 48px;
    flex-basis: 296px;
    flex-grow: 0;
    flex-shrink: 0;
    /*margin-bottom: 40px;*/
}

.partner:last-child {
    /*margin-right: 0;*/
}

.partner img {
    width: 168px;
    height: 168px;
}

.blogSection {
    padding: 60px 0 82px;
}

.blogItemsBlock {
    margin-top: 72px;
}
