.blogContainer {
    max-width: 1063px;
    margin: 0 auto;
}

.blogHeader {
    margin-top: 128px;
}

.blogHeaderInner {
    margin: 0 10px;
}

.blogHeaderTop {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 514px) {
    .blogHeaderTop {
        flex-direction: column;
    }

    .showProduct {
        margin-top: 20px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
    opacity: 0.8;
}

@media screen and (max-width: 401px) {
    .subtitle {
        font-size: 17px;
        line-height: 25px;
    }
}

.title {
    margin-top: 12px;
    font-weight: 600;
}

.headerText {
    max-width: 65%;
    margin-top: 70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}

.headerImageWrap {
    margin-top: 20px;
    padding: 5.7% 8.2% 6% 8.3%;
    background: linear-gradient(289.98deg, #F3D033 0%, rgba(243, 208, 51, 0.6) 100%);;
}

.headerImage {
    width: 100%;
}

.blogTextBlockImg {
    width: 100%;
}

.blogInfo {
    margin-top: 48px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(40, 41, 56, 0.3);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .blogInfo {
        flex-direction: column;
    }
}

.clientInfo {
    width: 30%;
}

.blogParagraph {
    margin-top: 64px;
}

.blogInfoTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.info {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
    opacity: 1;
}

.blogTextSection {
    padding-bottom: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.blogTextSectionInner {
    display: flex;
    flex-direction: column;
    max-width: 842px;
    margin: 0 10px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;

    opacity: 0.7;
    margin-top: 18px;
}

.blogList {
}

.blogTextBlock {
    max-width: 838px;
}

.blogListPoint {
    margin-right: 16px;
}

.showProduct {
    white-space: nowrap;
    width: 156px;
    height: 15px;
    display: block;
    box-sizing: content-box;
    padding: 16px;
    background: #F3D033;
    border-radius: 41px;
}

@media screen {
    .show
}
